aiogram
asyncpg
pytz
aiohttp
apscheduler
aiogram-calendar
python-dotenv
beautifulsoup4
google-generativeai>=0.8.0
pydantic-settings
pyrogram
tgcrypto
requests
playwright
httpx
google-genai
